---
---

<script>
    const text1 = "Bordart";
    const text = "'Donde los hilos cobran vida'";
    var indice = 0;
    var termino = false;

    function efectTyping1(){
        if(indice <= text1.length-1){
            const textElement = document.getElementById('text1');
            if (textElement) {
                textElement.innerHTML += text1.charAt(indice);
            }
            indice++;
            setTimeout(efectTyping1, 100);
        }else{
            indice = 0;
            efectTyping();
        }   
    }

    function efectTyping(){

        if(indice <= text.length-1){
            const textElement = document.getElementById('text');
            if (textElement) {
                textElement.innerHTML += text.charAt(indice);
            }
            indice++;
            setTimeout(efectTyping, 100);
        }
    }
    efectTyping1();
</script>

<section class="bg-white py-8 flex flex-col items-center">
    <div class="flex flex-col items-center justify-center max-w-6xl overflow-hidden">
        <img id="image" class="logo w-auto h-auto mb-0" src="/assets/logo.png" alt="">
        <p id="text1" class="md:translate-y-[-75px] font-bold md:text-3xl mt-0"></p>
        <p id="text" class=" md:translate-y-[-50px] font-bold md:text-3xl mt-0"></p>
    </div>
</section>

<style>
    .logo{
        width: 60%;
        object-fit: contain;
    }
    #text1{
    }

    #text{
    }

@font-face{
    font-family: tryFont;
    src: url('/assets/Fonts/PWTornado.ttf');
}
</style>